
@{
    ViewBag.Title = "About";
    <style>
        .about {
            margin-top: 8% !important;
        }
    </style>
}

<h2 class="about">Employee Management</h2>
<hr />
<h3>
    Employee Management System performs as a readily available source of
    information between the organization and the employee. Contact information,
    salary information, posts, work schedule, education information etc. is what
    most database systems consist of.

    Such information is readily available through HR software like sumHR.
</h3>

